rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Appointments:
    // - Public read/write to support password-only admin
    match /appointments/{appointmentId} {
      allow read, write: if true;
    }
    
    // Patients:
    // - Public read/write to support password-only admin
    match /patients/{patientId} {
      allow read, write: if true;
    }
  }
}
